html, body
{
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;

    background: url(/file/选课背景.jpg);
    background-size:cover;

    overflow:hidden;
}

div.first
{
    width: 100%;
    height:100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

form
{
    width: 50%;
    height:50%;
    margin: 0 auto;

    z-index: 1;

}

form:after
{
    width: 60vw;
    height:60vh;

    position:absolute;
    top:18.5vh;
    left: 17.5vw;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);

    border:2rem solid rgba(255,255,255,0.4);
    border-radius: 8rem;

    filter:blur(10px);
    content: "";
    z-index: -1;
}

fieldset
{
    padding:0;
    border-radius:1rem;
}

legend
{
    text-align: center;
}

table
{
    width:100%;
    height:100%;
    margin:0;
}

thead
{
    height:9%;
}

tbody
{
    height:66%;
}

.area-button
{
    height:15%;
    border-top: 1px solid rgba(0,0,0,1);

    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.title>td
{
    border-bottom: 1px solid rgba(0,0,0,1);
}

td
{
    text-align: center;
    border-right: 1px solid rgba(0,0,0,1);
}

td.td-checkitem
{
    width:12%;
    position:relative;
}

.checkitem
{
    position: absolute;
    visibility: hidden;
}

label
{
    width:1.4vw;
    height:1.4vw;
    margin:auto;

    border:2px solid black;
    border-radius:0.65rem;

    display: block;
}


.right
{
    border-right: none;
}

.button
{
    width:13%;
    height:60%;

    border: 2px solid rgba(255,140,0,0.6);
    border-radius: 0.7rem;

    background:rgba(55,155,155,0.65);

    font:bold 0.9rem/1rem 幼圆;

    color:rgba(30,30,30,1);
}


.button:hover
{
    background:rgba(255,140,0,0.6);
}

label:hover
{
    background:rgba(55,55,55,0.65);
}

.checkitem:checked+label
{
    background:rgba(128,128,128,0.5);
}

.checkitem:checked+label:after
{
    width:0.45vw;
    height:0.85vw;
    margin:0;

    display:block;
    content: " ";

    border: 3px solid orange;
    border-top:none;
    border-left:none;
    border-radius:0.26rem;

    transform:rotate(45deg);

    position:relative;
    left:0.37vw;
    top:0.1vw;
}

#a
{
    text-decoration: none;
    text-align: center;

    line-height:1.8rem;
}























